// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
// Colores
$azul: #0da6f3;
$celeste:#90D6F0;
$marino: #0f0d80;
$rojo: #cb0000;
$verde:#329f00;
$negro: #1a1b15;
$rosa: #ff7dd8;
$morado: #d06aff;
$naranja: #ff7360;

$blanco: #FFFFFF;
$gris: #e1e1e1;
$fondo: #0b3954;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900