@use 'base/variables' as v;

.reservas {
    list-style: none;
    padding: 0;

    li {
        padding: 1rem;
        border-top: 1px solid v.$blanco;

        p {
            font-weight: v.$bold;
            color: v.$azul;
        }

        span,
        .habitacion {
            font-weight: v.$regular;
            color: v.$blanco;
        }

       /* &:hover {
            background-color: v.$azul;
            p {
                font-weight: v.$bold;
                color: v.$marino;
            }

            span {
                font-weight: v.$regular;
                color: v.$blanco;
            }
        }*/

    }
}

.habitacion {
    @extend .reservas;

    .acciones {
        margin: 0;
    }
    .boton,
    .boton-eliminar {
        margin: 0;
    }
}